.card {
    position: relative;

    width: 100%;
    max-width: 100px;

    overflow: hidden;

    perspective: 1000px;

    transition: opacity 350ms;
    border-radius: 6px;
}

.card.removed {
    opacity: 0;
}

.card::after {
    content: '';

    display: block;
    width: 100%;
    padding-top: 100%;
}

.card img {
    height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.card .card-inner {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.card.opened .flipper {
    transform: rotateY(180deg);
}

.card .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
    width: 100%;
    height: 100%;
}

.card .back,
.card  .front {
    width: 100%;
    height: 100%;

    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.card .back {
    z-index: 2;
    transform: rotateY(0deg);

    background: lightgray;
    border: 1px solid #bbb;

    box-sizing: border-box;
}

.card .back::before {
    content: '';
    border: 2px solid white;
    position: absolute;
    top: 4%;
    left: 4%;
    right: 4%;
    bottom: 4%;
    border-radius: 4px;
}

.card .front {
    transform: rotateY(180deg);

    background: #add8e6;
    text-align: center;

    border: 1px solid #bbb;

    box-sizing: border-box;
}

.card .card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 26px;
    line-height: 100px;
    font-weight: bold;
}

.card.image .card-content {
    width: 100%;
    height: 100%;
}

.card .card-content .key {
    position: absolute;
    right: 0;
    bottom: 0;

    font-size: 20px;
    line-height: 20px;
    text-shadow: 0 0 2px #fff;
}
