<div class="content">
    <div class="settings" *ngIf="!gameRunning">
        <fieldset>
            <legend>Spiel</legend>

            <div class="error-message" *ngIf="error">
                {{error}}
            </div>

            <div class="three-column">
                <div class="field-wrap column">
                    <label for="rows">Zeilen</label>
                    <input type="number" min="2" max="15" [(ngModel)]="rows" id="rows" pattern="/^[0-9]{1,7}/"/>
                </div>
                <div class="field-wrap column">
                    <label for="columns">Spalten</label>
                    <input type="number" min="2" max="15" [(ngModel)]="columns" id="columns"/>
                </div>
                <div class="field-wrap column">
                    <label for="for-pair">Karten pro Paar</label>
                    <input type="number" min="2" max="10" [(ngModel)]="forPair" id="for-pair"/>
                </div>
                <div class="field-wrap column">
                    <label for="type">Blatt</label>
                    <select name="type" [(ngModel)]="type" id="type">
                        <option value="default">Zahlen</option>
                        <option value="beer">Bier</option>
                        <option value="cage">Nicolas Cage</option>
                        <option value="unsplash">unsplash.it</option>
                        <option value="flickr">Flickr</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Spieler</legend>
            <div *ngFor="let player of players">
                <input class="player-name" [(ngModel)]="player.name" maxlength="12"/>
            </div>
            <button class="btn add-player" (click)="addPlayer()" *ngIf="players.length < 9">Neuer Spieler</button>
            <button class="btn remove-player" (click)="removePlayer()" *ngIf="players.length > 2">Spieler entfernen
            </button>
        </fieldset>

        <div class="button-wrap">
            <button class="btn start-button" (click)="startGame()">Start!</button>
        </div>
    </div>

    <div *ngIf="gameRunning">
        <ul class="player-list">
            <li *ngFor="let player of players">
                <app-player [player]="player"></app-player>
            </li>
        </ul>

        <app-field [rows]="rows" [columns]="columns">Loading Game...</app-field>
    </div>

    <div class="layer-wrap" *ngIf="gameEnded">
        <div class="layer">
            <div class="game-over">
                Spiel vorbei
            </div>

            <div class="winners" [ngPlural]="winnerNames.length">
                <template ngPluralCase="=1">
                    <div class="winner-text">
                        <strong class="winner">{{winnerNames[0]}}</strong> hat die Runde gewonnen!
                    </div>
                </template>
                <template ngPluralCase="other">
                    <div class="winner-text">
                        <span *ngFor="let winnerName of winnerNames; let last = last;">
                            <span *ngIf="last">
                                <strong>{{winnerName}}</strong>
                            </span>
                            <span *ngIf="!last">
                                <strong>{{winnerName}}</strong>,
                            </span>
                        </span>
                        haben die Runde mit der selben Anzahl an Punkten beendet!
                    </div>
                </template>
            </div>

            <button class="btn" (click)="reset(true)">
                Neues Spiel
            </button>
            <button class="btn" (click)="reset()">
                Wiederholen
            </button>
        </div>
    </div>
</div>