<div class="settings" *ngIf="!gameRunning">
    <div class="error-message" *ngIf="error">
        {{error}}
    </div>

    <div>
        <div *ngFor="let player of players">
            <input [(ngModel)]="player.name" />
        </div>
        <button (click)="addPlayer()">Neuer Spieler</button>
    </div>

    <label for="rows">Zeilen</label>
    <input type="number" min="2" [(ngModel)]="rows" id="rows" pattern="/^[0-9]{1,7}/" />
    <label for="columns">Spalten</label>
    <input type="number" min="2" [(ngModel)]="columns" id="columns" />
    <input type="number" min="2" [(ngModel)]="forPair" />

    <button (click)="startGame()">Start!</button>
</div>

<div *ngIf="gameRunning">
    <ul class="player-list">
        <li class="player" [class.is-active]="player.isActive" *ngFor="let player of players">
            {{player.name}} - {{player.points}}
        </li>
    </ul>

    <app-field rows="{{rows}}" columns="{{columns}}">Loading Game</app-field>
</div>

<div *ngIf="gameEnded">
    Spiel vorbei!
    <div (click)="reset()">
        Neues Spiel starten?
    </div>
    <div (click)="restart()">
        Neues Spiel mit selben Einstellungen starten?
    </div>
</div>