<div class="content">
    <div class="settings" *ngIf="!gameRunning">
        <fieldset>
            <legend>Spiel</legend>

            <div class="error-message" *ngIf="error">
                {{error}}
            </div>

            <div class="three-column">
                <div class="field-wrap column">
                    <label for="rows">Zeilen</label>
                    <input type="number" min="2" max="15" [(ngModel)]="rows" id="rows" pattern="/^[0-9]{1,7}/" />
                </div>
                <div class="field-wrap column">
                    <label for="columns">Spalten</label>
                    <input type="number" min="2" max="15" [(ngModel)]="columns" id="columns" />
                </div>
                <div class="field-wrap column">
                    <label for="for-pair">Karten pro Paar</label>
                    <input type="number" min="2" max="10" [(ngModel)]="forPair" id="for-pair"/>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Spieler</legend>
            <div *ngFor="let player of players">
                <input [(ngModel)]="player.name" />
            </div>
            <button class="btn" (click)="addPlayer()" *ngIf="players.length < 10">Neuer Spieler</button>
            <button class="btn" (click)="removePlayer()" *ngIf="players.length > 2">Spieler entfernen</button>
        </fieldset>

        <div class="button-wrap">
            <button class="btn" (click)="startGame()">Start!</button>
        </div>
    </div>

    <div *ngIf="gameRunning">
        <ul class="player-list">
            <li *ngFor="let player of players">
                <app-player [player]="player"></app-player>
            </li>
        </ul>

        <app-field [rows]="rows" [columns]="columns">Loading Game...</app-field>
    </div>

    <div *ngIf="gameEnded">
        <div [ngPlural]="winnerNames.length">
            <template ngPluralCase="=1">
                <div class="winner-text">
                    <strong class="winner">{{winnerNames[0]}}</strong> hat die Runde gewonnen!
                </div>
            </template>
            <template ngPluralCase="few">
                <div class="winner-text">
                    <span *ngFor="let winnerName of winnerNames; let i = index;">
                        <span *ngIf="i.last">
                            <strong>{{winnerName}}</strong>
                        </span>
                        <span *ngIf="!i.last">
                            <strong>{{winnerName}}</strong>,
                        </span>
                    </span>
                    haben die Runde mit der selben Anzahl an Punkten beendet!
                </div>
            </template>
        </div>

        Spiel vorbei!
        <div (click)="reset(true)">
            Neues Spiel starten?
        </div>
        <div (click)="reset()">
            Neues Spiel mit den selben Einstellungen starten?
        </div>
    </div>
</div>